<app-video-display [video]="video"
  *ngFor="let video of videos"
  routerLink=""
  [queryParams]="{selectedId: video.id}"
  [class.selected]="selected === video.id"
></app-video-display>

<!-- <app-video-display [video]="video"
  *ngFor="let video of videos"
  (click)="updateSelection(video)"
  [class.selected]="selected === video.id"
></app-video-display> -->
