<app-video-list [videos]="videoList | async"
                [selected]="selected | async"
                ></app-video-list>

<app-video-player></app-video-player>

<app-stat-filters></app-stat-filters>

