
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}


app-video-dashboard {
  display: grid;
  height: 130vh;
  
  grid-gap: 0;

  grid-template:
    "  list                .      player              filters             " 1fr
    /  minmax(150px, 1fr)  0.5fr  minmax(250px, 3fr)  minmax(150px, 1fr)
  ;

  perspective: 50em;
}

app-video-list    { grid-area: list; }
app-video-player  { grid-area: player; }
app-stat-filters  { grid-area: filters; }


app-video-list {
  display: block;
  background: black;
  overflow-y: auto;
  padding: 10px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  transform:
    rotate(-5deg)
    translate(85px, -15vh)
    rotateY(60deg)
  ;
  box-shadow: 20px 15px 10px 0 rgba(0, 0, 0, 0.33);
  outline: 15px solid black;
  border-left: 15px solid;
  border-right: 15px solid;
  border-image: repeating-linear-gradient(black, black 15px, white 15px, white 30px) 1;
}

app-video-list::-webkit-scrollbar {
  display: none;
}

app-video-player {
  display: block;
  padding: 20px;
  font-size: 2rem;
}

app-video-player img {
  width: 100%;
  margin-bottom: 25px;
  border: 2px solid black;
  box-shadow:
    10px 10px 10px 0 rgba(0, 0, 0, 0.33),
    0 0 10px rgba(0, 0, 0, 0.33)
  ;
}

app-video-player .instructions {
  font-size: 2rem;
  padding-top: 20vh;
}

app-video-player .video-title,
app-video-player .video-author {
  text-align: right;
  font-weight: bold;
}

app-video-player .video-author:before {
  font-style: italic;
  font-weight: normal;
  content: 'presented by ';
}

app-video-display {
  display: block;
  background-color: white;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
  box-shadow: inset 0 0 2em black;
}

app-video-display:hover {
  box-shadow: 0 0 20px 5px white;
}

app-video-display.highlighted:hover {
  box-shadow: 0 0 20px 5px lightblue;
}

app-video-display img {
  width: 100%;
}

app-video-display .video-title,
app-video-display .video-author {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-stat-filters {
  color: darkgrey;
  background: lightgrey;
  font-style: italic;
  display: block;
  padding: 10px;
}

.selected {
  background-color: lightblue;
}

