<ng-container *ngIf="video$ | async as video; else instructions">

  <img [src]="  'http://img.youtube.com/vi/' + video.id + '/0.jpg'  ">

  <div class="video-title">{{ video.title }}</div>
  <div class="video-author">{{ video.author }}</div>

</ng-container>

<ng-template #instructions>
  <div class="instructions">
    Please select a video from the list.
  </div>
</ng-template>

